OPENAI_API_KEY=xxxxxxxxxxxxxxxx

GEMINI_API_KEY=xxxxxxxxxxxxxxxx

HF_TOKEN=xxxxxxxxxxxxxxxx

NEO4J_USERNAME=xxxxxxxxxxxxxxxx
NEO4J_PASSWORD=xxxxxxxxxxxxxxxx
NEO4J_CONNECTION_URI=xxxxxxxxxxxxxxxx

PAGEINDEX_API_KEY=xxxxxxxxxxxxxxxx

PAGEINDEX_API_KEY=3d99afb8850541d08c93b3ec4aaf55a9

LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT=https://api.smith.langchain.com
LANGSMITH_API_KEY=xxxxxxxxxxx
LANGSMITH_PROJECT="xxxxxxxxx"