PORT=add_your_port

NODE_ENV=add_your_environment<development/prod/uat>

MONGODB_URI=add_mongo_uri
MONGO_INITDB_ROOT_USERNAME=admin
MONGO_INITDB_ROOT_PASSWORD=yourStrongPassword123
MONGO_INITDB_DATABASE=mydb

JWT_ACCESS_SECRET=xxxxxxxxxxxxxxxxx
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_SECRET=xxxxxxxxxxxxxxxxx
JWT_REFRESH_EXPIRES_IN=7d