PORT=add_your_port
NODE_ENV=add_your_environment<development/prod/uat>
MONGODB_URI=add_mongo_uri
MONGO_INITDB_ROOT_USERNAME=admin
MONGO_INITDB_ROOT_PASSWORD=yourStrongPassword123
MONGO_INITDB_DATABASE=mydb