PORT=8000
CORS_ORIGIN=*

MONGODB_URI=mongodb://admin:yourStrongPassword123@mongo:27017/mydb?authSource=admin
MONGO_INITDB_ROOT_USERNAME=admin
MONGO_INITDB_ROOT_PASSWORD=yourStrongPassword123
MONGO_INITDB_DATABASE=mydb

ACCESS_TOKEN_SECRET=
ACCESS_TOKEN_EXPIRY=1d

REFRESH_TOKEN_SECRET=
REFRESH_TOKEN_EXPIRY=10d

MAILTRAP_SMTP_USER=
MAILTRAP_SMTP_PASS=
MAILTRAP_SMTP_HOST=
MAILTRAP_SMTP_PORT=